<%= erb :_header, locals: { title: title, object: user } %>

<!-- WHY IS THIS BUTTON FLOATING OVER THE 'RENTAL REQUEST CREATED!' FLASH NOTICE? -->
<button><a href='/stalls/new'>Add a Stall</a></button>

<h2>Incoming Requests</h2>

<% user.stalls.each do |stall| %>
  <% stall.rental_requests.each do |rental_request| %>
    <%= erb :'/stalls/rental_requests/_rental_request_response_form', locals: { user: user, rental_request: rental_request, status: :pending } %>
  <% end %>
<% end %>

<h2>Outgoing Requests</h2>

<% user.rental_requests.each do |rental_request| %>
  <%= erb :'/stalls/rental_requests/_rental_request_response_form', locals: { user: user, rental_request: rental_request, status: :pending } %>
<% end %>

<h2>Accepted Requests</h2>

<% user.rental_requests.each do |rental_request| %>
  <%= erb :'/stalls/rental_requests/_rental_request_response_form', locals: { user: user, rental_request: rental_request, status: :accepted } %>
<% end %>

<h2>Declined Requests</h2>

<% user.rental_requests.each do |rental_request| %>
  <%= erb :'/stalls/rental_requests/_rental_request_response_form', locals: { user: user, rental_request: rental_request, status: :declined } %>
<% end %>


<%= erb :_footer %>
