<p/>Title
<br/><input type='text' name='stall[title]' value='<%= stall[:title] %>'>

<p/>Description
<br/><input type='text' name='stall[description]' value='<%= stall[:description] %>'>

<p/>City
<br/><input type='text' name='stall[city]' value='<%= stall[:city] %>'>

<p/>State
<br/><input type='text' name='stall[state]' value='<%= stall[:state] %>'>

<p/>Zip
<br/><input type='text' name='stall[zip]' value='<%= stall[:zip] %>'>

<input type='hidden' name='stall[owner_id]' value='<%= current_user.id %>'>

<p/>
<button type='submit'>
  <%= create_or_edit_text(stall) %> Stall!
</button>
