<%= erb :_header, locals: { title: title, object: stall } %>

<%= stall_info(stall) %>

<p><%= stall.description %>

<p><button><a href='/stalls/<%="#{stall.id}"%>/rental_requests/new'>Request Rental</a></button>
  <button><a href='<%="/stalls/#{stall.id}/edit" %>'>Edit Stall</a></button>

<%= erb :_footer %>
