<%= erb :_header, locals: { title: title, object: stall } %>

<%= stall_info(stall) %>

<p><%= stall.description %>
<p>  
<% if stall.owner != current_user %>
  <button><a href='/stalls/<%="#{stall.id}"%>/rental_requests/new'>Request Rental</a></button>
<% end %>
  <button><a href='<%="/stalls/#{stall.id}/edit" %>'>Edit Stall</a></button>

<%= erb :_footer %>
